<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <div class="main w-full min-h-screen bg-zinc-900 text-white ">
            <div class="form p-10">
                <a class="text-blue-600 inline-block mb-10" href="/">Go Back To Home</a>
                <form action="/edit" method="post">
                    <input
                        placeholder="prev name"
                        class="block w-1/4  rouded-md outline-none  px-5 bg-zinc-800 py-2"
                        type="text"
                        value="<%= filename %>"
                        name="prev"
                    >
                    <input
                        placeholder="new name"
                        class="block w-1/4 rouded-md outline-none  px-5 bg-zinc-800 py-2"
                        type="text"
                        name="new"
                    >
                    <input class="mt-2 cursor-pointer bg-yellow-600 px-5 rounded-md py-2" type="Submit" value="Update Name">
                </form>
            </div>
            
        </div>
    </body>
</html>
